 @keyframes navlink-hover {
  0%   {background-color: white;}
  100% {background-color: darkgray;}
}

* {
  box-sizing: border-box;
}

h1, body {
    margin:0px;
}
body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background:rgb(248,248,248);
  
}
nav a {
    display:inline-block;
    margin-right:32px;
    margin-left:32px;
    padding:16px;
    font-weight:bold;
    text-transform:uppercase;
    color:gray;
    text-decoration:none;
    border-radius:5px;
    transition: background-color 0.3s, color 0.3s;
}
nav a:hover {
    background:darkgray;
    color:white;
    
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.content {
    padding-left:40px;
    padding-right:40px;
    width:960px;
    margin-right:auto;
    margin-left:auto;
    background-color:white;
    border-left:1px lightgray solid;
    border-right:1px lightgray solid;
}